<main>


	<div id="page-container">
		<div id="posts-container">
			<% if user_signed_in? %>
			<div id="new-post-form-container">
				<%= form_for @post, remote: true do |f| %>

					<%= f.text_area :content, placeholder: "What's on your mind..." %>

					<%= f.submit %>
				<% end %>
			</div>
			<% end %>

			<div id="posts-list-container">
				<ul id="posts-list">
					<% @posts.each do |post| %>
						<%= render 'post', p: post %>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="friends-container">
			<h5>Friends</h5>



		</div>
	</div>

</main>


















