// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#like:target{
	background-color: red;
}
#new-post-form-container{
	

    width: 93%;

    text-align: center;
    margin: 0 auto;

    label{
    	display: block;
    }

    textarea, input[type="submit"]{
    	display: block;
    	margin: 0 auto;
    }

    textarea{

    	height: 100px;

    	width: 85%;
    }

    input[type="submit"]{
	    margin: 10px auto;
	    border: none;
	    color: white;
	    background-color: #5b5bfa;
    }
}

#posts-list-container{

	width: 75%;
	margin: 0 auto;
	
	#posts-list{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.post{
			border-bottom: 1px solid grey;
			.post-content{
				display: flex;
				justify-content: space-between;
				font-size: 0.9rem;

				.text{
					width: 95%;
				}

				.post-destroy-link a{


					text-decoration: none;
					color: white;
				}
				a{

			    			text-decoration: none;
			    			color: white;
			    			font-size: 10px;
			    		}

			}

			.post-comments-container{
				width: 100%;
			    margin: 10px auto;
			    .comment-btn{
						    background-color: #354c8c;
						    border: medium none;
						    box-shadow: none;
						    color: #FFFFFF;
						    cursor: pointer;
						    padding: 1.6rem 2.4rem;
						    text-transform: uppercase;
						    width: 40px;
    						height: 30px;
						    
				}	

			    form{
			    	display: flex;

			    	input, textarea{

			    		width: 90%;
		    		}
			    }


			    .comments-list{
			    	list-style: none;
			    	padding-top: 10px;
			    	padding-left: 0;

		    	    background-color: #b2b9c9;

    				padding: 5px;
			    	li{
			    		border: 1px dashed grey;
			    		margin: 3px;
    					padding: 3px;
    					display: flex;
    					justify-content: space-between;
			    		p{
			    			margin: 0;
			    		}

			    		a{

			    			text-decoration: none;

			    			color: white;

			    			font-size: 10px;
			    		}
			    	}

			    }
			}
		}

	}
}

input[name="commit"] {
	width: 5%	

}



.author-details{
	font-size: 10px;
}

.user-like-status{
	-webkit-font-smoothing: antialiased;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 1;

  text-decoration: none;
  text-shadow: 0 -1px 0 #354c8c;
  vertical-align: top;
  white-space: nowrap;

  color: #fff;
  background: linear-gradient(#4c69ba, #3b55a0);

  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  padding: 5px 5px 0 4px;

  border: 0;
  border-radius: 2px;
}
.user-like-count{
	font-size: large; 
  color: #999999; 
  font-family: monospace; 
  text-decoration: none; 
  font-weight: bold; 
}


#page-container{
	display: flex;
	flex-direction: row;

	#posts-container{

		width: 85%;
	}

	#friends-container{
		background-color: #b2b9c9;
		width: 15%;

	    border-left: 1px solid black;
    	padding-left: 15px;
	}
}


@media screen and (max-width: 480px){
	#friends-container{
		display: none;
	}

	#posts-container{
		width: 100% !important;
	}
}









